################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsolidadoDiario/.vs
/ConsolidadoDiario/ConsolidadoDiario/bin/Debug/net8.0
/ConsolidadoDiario/ConsolidadoDiario/obj
/ConsolidadoDiario/ConsolidadoDiario.Application/bin/Debug/net8.0
/ConsolidadoDiario/ConsolidadoDiario.Domain/bin/Debug/net8.0
/ConsolidadoDiario/ConsolidadoDiario.Domain/obj
/ConsolidadoDiario/ConsolidadoDiario.Application/obj
/ConsolidadoDiario/ConsolidadoDiario.Infrastructure/bin/Debug/net8.0
/ConsolidadoDiario/ConsolidadoDiario.Infrastructure/obj
/ConsolidadoDiario/ConsolidadoDiario.Tests/bin/Debug/net8.0
/ConsolidadoDiario/ConsolidadoDiario.Tests/obj
/ConsolidadoDiario/ControleDeLancamentos/obj
/ControleDeLancamentos/.vs
/ControleDeLancamentos/ControleDeLancamentos/bin/Debug/net8.0
/ControleDeLancamentos/ControleDeLancamentos/obj
/ControleDeLancamentos/ControleDeLancamentos.Application/bin/Debug/net8.0
/ControleDeLancamentos/ControleDeLancamentos.Application/obj
/ControleDeLancamentos/ControleDeLancamentos.Domain/bin/Debug/net8.0
/ControleDeLancamentos/ControleDeLancamentos.Domain/obj
/ControleDeLancamentos/ControleDeLancamentos.Infrastructure/bin/Debug/net8.0
/ControleDeLancamentos/ControleDeLancamentos.Infrastructure/obj
/ControleDeLancamentos/ControleDeLancamentos.Tests/bin/Debug/net8.0
/ControleDeLancamentos/ControleDeLancamentos.Tests/obj
/ControleDeLancamentos/obj
/ControleDeLancamentos-front/node_modules
